table.status {
   font-family: Tahoma,Verdana;
   font-size: 10pt;
   color: black;
   border-collapse: collapse;
   border: 4px solid #444;
   margin: .75em;
}

th {
   font-family: Tahoma,Verdana;
   font-size: 12pt;
   background-color: cornflowerblue;
}

p, h1, h2, h3, h4,h5,h6,li,dl {
    font-family: Tahoma,Verdana\;
}

hr {
    color: blue;
    background-color: cornflowerblue;
    width: 100%;
    height: 2px;
    margin-left:auto;
    margin-right:auto;
}

#log_frame {
  background: black;
  width: 100%;
  height: 3500px;
}
